* {
    font-family: sans-serif;
}

body {
    background-color: #d6cca9;
    padding: 10px;
}

table {
    border-collapse: collapse;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table, th, td {
    font-family: sans-serif;
    border:1px solid black;
  }

th {
    background-color: #c9d6a9;
    cursor: pointer;
}

td {
    padding: 6px 6px;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }

tr:nth-child(odd) td {
    background-color: #ebebeb;
  }

